.character-card {
  background-color: grey;
  border: gold solid .1px;
  min-width: 130px;
  max-width: 180px;
  min-height: 180px;
}
.character-card-border {
  background-color: rgb(17, 19, 22);
  min-width: 150px;
  max-width: 200px;
  min-height: 185px;
  display: flex;
  align-items: center;
  justify-content: center;
}